<?xml version="1.0" encoding="UTF-8"?>
<plugin 
    xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="mmir-plugin-asr-googlev1-web"
    version="0.2.0">

    <name>Google Web Speech Recognition v1</name>
    
    <keywords>cordova,speech,asr,recognition</keywords>
    
    <description>
      Cordova plugin for the MMIR framework that allows Automatic Speech Recognition (ASR)
      via Google web speech recognition services (v1)
      
      WARNING deprecated: Google does not provide the Web Speech Recognition service v1 anymore! 
    </description>

    <author>russa, DFKI</author>

    <engines>
        <engine name="cordova" version=">=5.0" />
    </engines>

	<dependency id="mmir-plugin-encoder-core" url="." subdir="mmir-plugin-encoder-core" />
  
    <!-- ASR plugin implementation for integration into MMIR framework  -->
    <asset
        src="www/webasrGooglev1Impl.js"
        target="mmirf/env/media/webasrGooglev1Impl.js" />
    
</plugin>
